<table class="table table-bordered">
          <thead>
             <tr>
              <th scope="col">材料名</th>
              <th scope="col">グラム</th>
              <th scope="col">人数分</th>
            </tr> 
        　</thead>
        　
          <tbody>
                <% i = 0 %>
                <% @topic.materials.each do |m|%>
                  <tr>
                    <td><%= m.material %></td>
                    <td><%= m.gram %></td>
                    <td><%= @gram[i] %></td>
                  </tr>
                  <% i += 1 %>
                <% end %>
            
          </tbody>
</table>